<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand text-danger" href="/">Fresh Tomatoes</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        {{! this will push add review to right }}
        <li><a href="/sign-up">SignUp</a></li>
        <li><a href="/login">LogIn</a></li>
        <li><a href="/logout">LogOut</a></li>
      </ul>
      <button type="button" class="btn btn-light">
        <a href="/reviews/new" class="text-dark text-decoration-none">Add Review</a>
      </button>
    </div>

  </div>
</nav>