<fieldset>
  <legend class="mb-3">{{heading}}</legend>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      required
      id="title"
      name="title"
      value="{{review.title}}"
    />
  </div>
  <div class="mb-3">
    <label for="movieTitle" class="form-label">Movie Title</label>
    <input
      type="text"
      class="form-control"
      required
      id="movieTitle"
      name="movieTitle"
      value="{{review.movieTitle}}"
    />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
      rows="8"
    >{{review.description}}</textarea>
  </div>
  <div>
    <button type="submit" class="btn btn-primary text-right">Submit</button>
  </div>
</fieldset>