<fieldset>
    <legend>{{heading}}</legend>
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="{{review.title}}">
    </div>
    <div>
        <label for="movieTitle">Movie Title</label>
        <input type="text" id="movieTitle" name="movieTitle" value="{{review.movieTitle}}">
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text" id="description" name="description" value="{{review.description}}">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</fieldset>