<h3 class="mb-4">Login</h3>
<form action="/login" method="POST">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" id="password" name="password" class="form-control" />
  </div>
  <div class="mb-3">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
  {{#if message}}
    {{message}}
  {{/if}}
</form>