<h1>All reviews</h1>
<a href="/reviews/new">Add Review</a>
<hr>

{{#each reviews}}
    <h2><a href="/reviews/{{this._id}}">{{this.title}}</a></h2>
    <small>movie title: {{this.movieTitle}}</small>
{{/each}}